<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <display-name>ClinicaLink</display-name>
    <servlet>
        <servlet-name>infirmer</servlet-name>
        <servlet-class>io.github.Mahjoubech.clinicalink.servlet.infirmer.InfirmierServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>infirmer</servlet-name>
        <url-pattern>/infirmer/*</url-pattern>
    </servlet-mapping>
</web-app>
